/* Top borders */
.topBorder{
  border-top: 4px solid #000000;
}

#levelDiv{
  margin-bottom: 10px;
}

/* Underline for tabs */
.indicator {
  background-color: $mainColor !important;
}

#top {
  margin-bottom: 20px;
}

#top ul {
  list-style-type: none;
}

/* index */
.attachs small {
  display: block;
}

.block span {
  display: block;
}

#urlDiv {
  margin-top: 15px;
  margin-bottom: 15px;
}