.attachs small{
	display: block;
}

.block span{
	display: block;
}

#urlDiv{
	margin-top: 15px;
	margin-bottom: 15px;
}

#ClassPoints .md-container, #ClassPoints .md-bar{
	height: 15px !important;
}


