.card-text {
    margin-bottom: 10px;
}

/* Black Ops Orange - #F96800 */
.btn-black-ops {
    color: #ffffff;
    background-color: #F96800;
    border-color: #F96800;
  }

  .btn-black-ops:hover,
  .btn-black-ops:focus,
  .btn-black-ops:active,
  .btn-black-ops.active,
  .open .dropdown-toggle.btn-black-ops {
    color: #ffffff;
    background-color: #E05D00;
    border-color: #F96800;
  }

  .btn-black-ops:active,
  .btn-black-ops.active,
  .open .dropdown-toggle.btn-black-ops {
    background-image: none;
  }

  .btn-black-ops.disabled,
  .btn-black-ops[disabled],
  fieldset[disabled] .btn-black-ops,
  .btn-black-ops.disabled:hover,
  .btn-black-ops[disabled]:hover,
  fieldset[disabled] .btn-black-ops:hover,
  .btn-black-ops.disabled:focus,
  .btn-black-ops[disabled]:focus,
  fieldset[disabled] .btn-black-ops:focus,
  .btn-black-ops.disabled:active,
  .btn-black-ops[disabled]:active,
  fieldset[disabled] .btn-black-ops:active,
  .btn-black-ops.disabled.active,
  .btn-black-ops[disabled].active,
  fieldset[disabled] .btn-black-ops.active {
    background-color: #F96800;
    border-color: #F96800;
  }

  .btn-black-ops .badge {
    color: #F96800;
    background-color: #ffffff;
  }