.generator h2 {
  margin-bottom: 20px;
  text-align: center;
}

 /* RCG Navbar Changes */
 #cod-header.black-ops-6 {
    background: #F96800 !important;
 }

 #cod-header.black-ops-6 a{
   color: white !important;
 }