.generator h2 {
  margin-bottom: 20px;
  text-align: center;
}

 /* RCG Navbar Changes */
#cod-header.black-ops {
  background: #F96800 !important;
}

#cod-header.black-ops a,
#cod-header.warzone a,
#cod-header.modern-warfare a {
  color: white !important;
}

#cod-header.warzone {
  background: #198754 !important;
}

#cod-header.modern-warfare {
  background: #DC3545 !important;
}