#random-class .label {
    font-weight: bold;
}

.generator h2 {
  margin-bottom: 20px;
  text-align: center;
}

#weapons, #equipment {
    margin-bottom: 20px;
}

#button-row {
    margin-top: 20px;
}

#tactical {
    margin-right: 25px;
}

.perk {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
 }